{sub_dirs, ["apps/rtree_server", "apps/rtree_client", "rel"]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {erlgeom, ".*", {git, "https://github.com/caroman/erlgeom.git"}},
    {erlogr, ".*", {git, "https://github.com/caroman/erlogr.git"}},
    {erlosr, ".*", {git, "https://github.com/caroman/erlosr.git"}}
]}.
