{sub_dirs, ["apps/rtree_server", "apps/rtree_client", "rel"]}.
{deps, [
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.4.1"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
    {resource_discovery, ".*", {git, "https://github.com/erlware/resource_discovery.git", "f6d2b111b11c96ad2c32b140ffb2d0930c4c75ba"}},
    {erlgeom, ".*", {git, "https://github.com/caroman/erlgeom.git"}},
    {erlogr, ".*", {git, "https://github.com/caroman/erlogr.git"}},
    {erlosr, ".*", {git, "https://github.com/caroman/erlosr.git"}}
]}.
