[
 %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, warning}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
            {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
        ]}
    ]},
    {resource_discovery, [
        {contact_nodes, [rtree_server@vm01, rtree_server@vm02, rtree_server@vm03]},
        {heartbeat_frequency, 60000}
    ]}
].
